.works-container {
    .works-header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3em 0;
        h1 {
            font-family: "Baloo Paaji 2", cursive;
            margin: 0;
            font-size: 2.5em;
            font-weight: 500;
            text-transform: uppercase;
            position: relative;
            letter-spacing: 4px;
            &:after {
                content: "";
                position: absolute;
                width: 100px;
                height: 5px;
                display: block;
                //To center the border
                left: 0;
                right: 0;
                margin: 0 auto;
                //To move the border up and down
                bottom: 10px;
                background: $yellow;
            }
        }
    }
    .works-subhead {
            display: flex;
            justify-content: center;
            font-size: 1.5em;
    }
    .card-container {
        width: 100%;
        display: flex;
        //border: 2px solid red;
        justify-content: space-around;
        padding: 3em 0;
        .card-box {
            height: 275px;
            width: 250px;
            //border: 2px solid red;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            border-radius: 15px;
            .card-image {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 15% 0;
                img{
                    height: 90%;
                    width: 90%;
                }
            }
            .card-detail {
                width: 90%;
                color: $black;
                p {
                    text-align: center;
                    margin: 0;
                }
                
            }
        }
    }
    .bttn-container {
        display: flex;
        align-items: center;
        justify-content: center;
        button {
            padding: 10px 25px;
            margin: 3em 0;
            border-radius: 5px;
            font-family: 'Varela Round', sans-serif;
            color: $black;
            cursor: pointer;
          }
          .sign-in {
            background: none;
            border: solid $yellow 2px;
          }
          .sign-up {
            background: $yellow;
            border: none;
            margin-right: 0;
            box-shadow: 0px 8px 15px rgba(250, 228, 93, 1);
          }
    }    
}