@import url('https://fonts.googleapis.com/css?family=Baloo+Paaji+2:400,500,700|Varela+Round&display=swap');
@import "./varibles.scss";
@import "./breakpoints.scss";
@import "./components/header.scss";
@import "./components/banner.scss";
@import "./components/about.scss";
@import "./components/choose.scss";
@import "./components/software.scss";
@import "./components/work.scss";
@import "./components/fleet.scss";
@import "./components/featured.scss";

body,
html {
  user-select: none;
  background: white;
  overscroll-behavior: none;
  margin: 0;
  font-family: 'Varela Round', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 1560px;
  min-width: 1560px;
  margin: 0 auto;
  height: 100%;
  @include media("<=1560px") {
    width: 1280px;
    min-width: 1280px;
  }
  @include media("<=desktop") {
    width: 1080px;
    min-width: 1080px;
  }
  @include media("<=1080px") {
    width: 100%;
    min-width: 100%;
  }
  .row {
    display: flex;
    height: 100%;
    padding: 0;
    @include media("<=phone") {
      padding: 0 16px;
    }
  }
  .v-center {
    align-items: center;
  }
  .space-between {
    justify-content: space-between;
  }
}

.container-fluid {
  width: 100%;
  height: 100%;
  .row {
    display: flex;
    height: 100%;
  }
}

button {
        padding: 10px 25px;
        margin: 0 45px;
        border-radius: 5px;
        font-family: 'Varela Round', sans-serif;
        color: $black;
        cursor: pointer;
      }
      .sign-in {
        background: none;
        border: solid $yellow 2px;
      }
      .sign-up {
        background: $yellow;
        border: none;
        margin-right: 0;
        box-shadow: 0px 8px 15px rgba(250, 228, 93, 1);
      }